fastapi
uvicorn[standard]

python-multipart
sse-starlette

pydantic
python-dotenv

PyMuPDF

faiss-cpu
numpy

sentence-transformers
rank-bm25

langchain-text-splitters

ollama

aiofiles

FlagEmbedding
torch
transformers
sympy

gputil
GPUtil